<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar - SharedSpaceManager</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="logo">
        <img src="../assets/logo.png" alt="Logo" />
        <span class="logo-text">SharedSpaceManager</span>
      </div>
      <ul class="nav-links">
        <li><a href="/maqueta/index.html">Inicio</a></li>
        <li><a href="/maqueta/quienes-somos.html">Quiénes Somos</a></li>
        <li><a href="/maqueta/dashboard-admin.html" class="nav-link-admin">Admin</a></li>
        <li><a href="/maqueta/dashboard-user.html">Usuario</a></li>
        <li><a href="/maqueta/login.html" class="btn login-btn">Iniciar Sesión</a></li>
      </ul>
    </nav>

  </body>
</html>
